@use "../colors" as *;

.content-index {
  position: fixed;
  left: 10px;
  top: 92px;
  opacity: 0.75;

  @media screen and (max-width: 768px), print {
    display: none;
  }
}

.header-content-index .content-index-at-header {
  position: absolute;
  top: 24px;
  display: none;
  max-width: 500px;
}

.header-content-index:hover .content-index-at-header {
  display: block;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 13px;
  opacity: 0.9;
  animation: roll-in 0.5s forwards;

  h2 {
    opacity: 1;
  }
}

.header-content-index:not(:hover) .content-index-at-header:not(:hover) {
  display: block;
  opacity: 0;
  animation: roll-out 0.5s forwards;
}

.header-content-index:hover .content-index-at-header:hover {
  animation-name: roll-out;
  animation-play-state: paused; // Pause roll-out animation on hover
}

@keyframes roll-in{
    from {
        transform: translate(-500px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes roll-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-500px, 0);
  }
}

.content-index, .header-content-index .content-index-at-header {
  z-index: 10;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 0%) 0px 3px 13px;
  padding: 12px 12px 16px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
  transition: all 2s;

  .toolbar {
    display: flex;
    opacity: 0.2;
    flex-direction: row-reverse;
    border-bottom: none;
    padding: 0;
    transition: opacity 2s;
  }

  h2 {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.2;
    transition: all 2s;
  }

  a {
    font-weight: 300;
    text-decoration: none;
    opacity: 0.45;
    transition: all 0.3s;
    display: block;

    &.active {
      animation: animate-scale 0.6s;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  button {
    display: block;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 0;
  }

  &:hover {
    transition: all 0.3s;
    opacity: 1;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 13px;

    .toolbar {
      transition: opacity 0.3s;
      opacity: 0.7;
    }

    h2 {
      transition: all 0.3s;
      opacity: 0.7;
    }
  }

  &.small {
    padding: 8px;
    transition: all 0s;
    .toolbar {
      opacity: 0.4;
    }

    h2,
    ul,
    li,
    a {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes animate-scale {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.content-index-chapter {
  display: flex;
  align-items: center;

  a {
    flex: 1;
    padding-right: 24px;
  }

  svg {
    width: 25px;
    height: 25px;

    &.inactive a {
      color: $gray;
      opacity: 0.6;
    }

    .snowflake-link, .snowflake-link-indicator {
      stroke: transparent;
    }

    .snowflake-link:hover + .snowflake-link-indicator {
      stroke: grey;
    }
  }
}
