@use "../colors" as *;

.quiz:not(.quiz-section .quiz), .quiz-section {
  position: relative;
  margin: 24px 0;
  border-left: 5px solid rgb(144, 144, 144);
  border-top: 2px solid rgb(144, 144, 144);
  padding: 12px;
  transition: all;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.quiz {
  &.correct {
    border-color: $green;
    background: $greenTransparent;
  }

  &.incorrect, &.joint-submission.incorrect {
    border-color: $red;
    background: $redTransparent;
  }

  &.neutral, &.joint-submission.neutral {
    border-color: $gray;
    background: $grayTransparent;
  }

  &.correct button.selected, &.joint-submission.correct button.selected {
    border-color: $green;
    background: $green;
    color: white;
  }

  &.incorrect button.selected, &.joint-submission.incorrect button.selected {
    border-color: $red;
    background: $red;
    color: white;
  }

  &.neutral button.selected, &.joint-submission.neutral button.selected {
    border-color: $gray;
    background: $gray;
    color: white;
  }

  &.joint-submission button.selected {
    border-color: $blue;
    background: $blue;
    color: white;
  }

  &.submission-errored {
    border-color: red;
    background: $grayTransparent;

    button.selected {
      border-color: $gray;
      background: $gray;
      color: white;
    }
  }

  .checker-message {
    color: red;
  }

  input,
  textarea {
    border: 1px solid $inputBorder;
    border-radius: 6px;
    padding: 4px 8px;
  }

  input {
    height: 36px;

    & + button {
      margin-left: 8px;
    }
  }

  textarea {
    min-height: 100px;
    width: 100%;
  }

  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  fieldset {
    &[disabled] {
      pointer-events: none;
    }
  }

  .quiz-message {
    margin: 16px 0 0 0;
    font-size: 16px;
    font-weight: 400;
  }

  hr {
    margin: 8px 0;
  }
}

.quiz-section {
   h2 {
     margin: 0 0 36px 0;
   }

  .quiz:not(:last-child) {
    padding-bottom: 36px;
  }

  .quiz:last-child {
    margin-bottom: 12px;
  }
}

.submit-quiz-popup, .quiz, .joint-submission {
  button {
    min-height: 36px;
    border: 1px solid $inputBorder;
    padding: 6px 8px;
    border-radius: 6px;
    text-align: left;
    line-height: 1.2;

    [disabled] {
      border: 1px solid rgb(220, 220, 220);
    }
  }
}

.quiz-question {
  position: relative;
  margin-bottom: 12px;

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 32px 0 0;

    span {
      font-weight: 300;
    }
  }

  svg {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: auto;
    color: $green;

    .incorrect & {
      color: $red;
    }

    .pending-submission & {
      color: $blue;
    }
  }
}

.quiz-progress {
  padding: 0 12px;
  border-left: 5px solid rgb(144, 144, 144);
  margin: 64px 0;
}

.quiz-progress-indicator-wrapper {
  position: relative;
  height: 13px;
  border: 1.5px solid black;
  border-radius: 6px;
  overflow: hidden;

  .quiz-progress-indicator-bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .quiz-progress-indicator-bar-threshold-line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: black;
  }
}

.quiz-progress-indicator-threshold {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  transform: translateX(-100%);
  font-size: 14px;
}
